$toolbarHeight: 64px;
$actionsbarHeight: 64px;

.app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .mat-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1 0 auto;

    .mat-sidenav-content {
      height: 100vh;
      // background-color: yellow;

      .mat-toolbar {
        position: fixed;
        height: $toolbarHeight;
        /* Make sure the toolbar will stay on top of the content as it scrolls past. */
        z-index: 2000000000;
        // background-color: #e91e63;
        // color: #2E2E2E;

        &.shadow {
          box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12),0px 2px 4px -1px rgba(0,0,0,0.2);
        }
      }

      main {
        // background-color: bisque;
        height: 100%;

        &.isLogged {
          height: calc(100vh - #{$toolbarHeight});
          margin-top: $toolbarHeight;
        }

        .tabs {
          height: $actionsbarHeight;
          position: fixed;
          bottom: 0px;
          width: 100%;
          padding: 0px 12px;
          background-color: #303030;
        }
      }
    }
  }
}

::ng-deep {
  main {
    .page {
      position: relative;
      background-color: white;

      .content {
        height: calc(100vh - #{$actionsbarHeight} - #{$toolbarHeight});
        overflow-y: scroll;
        padding-top: 20px;
        color: #000000de;
        display: flex;
        flex-direction: column;

        &.padded {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
