<div class="app-root">
  <mat-sidenav-container style="background-color: white;">
    <mat-sidenav #sidenav mode="over"
                 [fixedInViewport]="true">
      <mat-nav-list *ngIf="currentUser$ | async">
        <!-- <a mat-list-item (click)="sidenav.toggle(); goToSettings();" *ngIf="(currentUser$ | async)?.email === 'contact@nicolasmura.fr'">Settings (soon...)</a> -->
        <a mat-list-item disabled *ngIf="(currentUser$ | async)?.email === 'contact@nicolasmura.fr'">V17</a>
        <a mat-list-item (click)="sidenav.toggle(); logout()"><mat-icon style="margin-right: 10px;">logout</mat-icon>Déconnexion</a>
        <a mat-list-item (click)="sidenav.toggle(); deleteAll()"><mat-icon style="margin-right: 10px;">delete</mat-icon>Delete all</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" *ngIf="currentUser$ | async" class="shadow" style="background-color: white; color: #2E2E2E;">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 (click)="goToGallery()" style="margin-left: 10px; font-size: 24px; display: flex;">Zuokin Photos</h1>
        <span style="flex: 1 1 auto;"></span>
        <button mat-icon-button (click)="goToSettings()">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="goToAccount()">
          <mat-icon>manage_accounts</mat-icon>
        </button>
      </mat-toolbar>

      <main [ngClass]="{'isLogged': currentUser$ | async}">
        <zphotos-something-is-broken *ngIf="errors.somethingIsBroken.statusCode">
                                     [statusCode]="errors.somethingIsBroken.statusCode"
                                     [statusMessage]="errors.somethingIsBroken.statusMessage"
        </zphotos-something-is-broken>
        <router-outlet #o="outlet"></router-outlet>

        <div class="tabs">
          Todo
        </div>
      </main>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- <div *ngIf="webSocketService.lostConnection"
       style="position: absolute; z-index: 10; bottom: 0; background-color: red; width: 100%; height: 20px; color: white; padding-left: 5px">
    Pas de connexion internet ?
  </div> -->
</div>
