@import 'app-skeletons';

$toolbarHeight: 64px;
$actionsbarHeight: 64px;

.gallery {
  .content {
    // .medias-container {
    //   display: grid;
    //   grid-template-columns: repeat(3, 1fr);
    //   grid-template-rows: repeat(3, 5vw);
    //   grid-gap: 15px;
    // }

    .skeleton {
      @include background-skeleton;
      width: 100px;
      height: 100px;
    }
  }

  .file-input {
    display: none;
  }
}