<div class="page gallery">

  <div class="content">
    <!-- <button mat-flat-button color="primary" aria-label="login"
            (click)=openDirectory()
            [class.mc-spinner]="loginLoadingSpinner">
      Open directory
    </button> -->

    <!-- <input type="file" id="filepicker" name="fileList" webkitdirectory  />
    <input type="file" class="file-upload" (change)="showFiles($event)" multiple>
    <ul id="listing"></ul> -->

    <div *ngIf="mediaService.getMedias(); else skeleton"
         class="medias-container"
         [ngClass]="{'no-media': mediaService.getMedias()?.length === 0}">
      <div *ngIf="mediaService.getMedias()?.length === 0" style="margin-left: 20px; margin-bottom: 20px;">
        Rien à afficher
      </div>
      <div *ngFor="let media of sortMediasByUnixDate(mediaService.getMedias() || [])">
        <!-- <img *ngIf="media.mediaMetadata.photo" [src]="media.thumbnail || media.productUrl" alt=""> -->
        <img *ngIf="media.mediaMetadata.photo" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/png;base64, ' + media.thumbnail) || media.productUrl" alt="">
        <video #video *ngIf="media.mediaMetadata.video" disableRemotePlayback [controls]="false" (click)="toggleVideo(video)">
          <!-- <source src="/media/cc0-videos/flower.webm"
                  type="video/webm"> -->
          <source [src]="media.productUrl"
                  type="video/mp4">
          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
    </div>

    <ng-template #skeleton>
      <div class="medias-container">
        <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]" class="skeleton"></div>
      </div>
    </ng-template>

    <input type="file" class="file-input"
          (change)="onFileSelected($event)" #selectFiles webkitdirectory>
    <!-- <input type="file" class="file-input"
          (change)="onFileSelected($event)" #selectFiles> -->

    <div style="display: flex; justify-content: space-between;">
      <button mat-mini-fab color="primary" class="upload-btn"
              (click)="selectFiles.click()" #selectFilePretty
              style="margin-left: 20px;">
      <mat-icon>attach_file</mat-icon>
    </button>
    <button mat-mini-fab color="primary" class="upload-btn"
            [disabled]="filesInfos.length === 0"
            (click)="uploadSelectedFilesTest()"
            style="margin-right: 20px">
        <mat-icon>file_upload</mat-icon>
    </button>
    </div>

    <div class="file-upload">
      <div *ngFor="let fileInfos of filesInfos" style="margin-top: 20px;">
        <img *ngIf="fileInfos.media.mediaMetadata.photo" [src]="fileInfos.preview" alt="">
        <video *ngIf="fileInfos.media.mediaMetadata.video" disableRemotePlayback controls width="250">
          <!-- <source src="/media/cc0-videos/flower.webm"
                  type="video/webm"> -->
          <source [src]="fileInfos.preview"
                  type="video/mp4">
          Sorry, your browser doesn't support embedded videos.
        </video>
        <div style="font-family: monospace;">
          <div style="word-break: break-all;">{{ fileInfos.fileName }}</div>
          <mat-progress-bar class="progress-bar" mode="determinate"
                            [value]="fileInfos.uploadProgress" *ngIf="fileInfos.uploadProgress">
          </mat-progress-bar>
        </div>
      </div>
      <pre *ngIf="filesInfos?.length === 0">
        No file selected yet.
      </pre>
    </div>

    <div class="progress">

      <!-- <mat-progress-bar class="progress-bar" mode="determinate"
                        [value]="uploadProgress" *ngIf="uploadProgress">
      </mat-progress-bar> -->

      <mat-icon class="cancel-upload" (click)="cancelUpload()"
                *ngIf="uploadProgress">delete_forever</mat-icon>

    </div>

    <!-- <img src="http://localhost:3333/anotherfolder/IMG_20210103_135639.jpg" alt="" style="width: 100%"> -->
  </div>

</div>